body {
  margin: 0;
  font-family: 'Muli', sans-serif;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #333;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #111;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #4CAF50;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}

.topright {
 float: right;
 cursor: pointer;
 font-size: 20px;
}
