{% extends "mainNavBar.html" %}


{% block loginBody %}

<head>
  <title> Pocket Tanks </title>
  <link rel="stylesheet" href="/static/css/cssStyleSheet.css">
</head>

<body>
<center>
<div class="container" >

    <label style = "color:#666666"> <a href = "/" style = "text-decoration: none; color: #2f2828"> <h2>POCKET TANKS</h2> </a> </label>

  <br><br>
  <div class="imgcontainer">
    <img src="/static/images/img_avatar2.png" alt="Avatar" width = "180" style = "border-radius: 20%;">
  </div>
  <br><br>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <br><br><label style = "font-size: 10px; color: red;"> {{message}} </label> <br><br>
  	  {% endfor %}
    {% endif %}
  {% endwith %}

  <form action = "/" method = "Post">
    <input type="text" placeholder="Enter your username" name="username" required><br>
    <input type="password" placeholder="Enter your password" name="password" required><br>
    <label style = "color: red; font-size: 10px; font-style: italic;"> {{ error }} </label> <br>
    <input class = "c1" type="submit" value = "Login"><br><br><br>
  </form>
  <a href = "/register/" style = "text-decoration: none; color: #2f2828"> <strong> Create Account </strong> </a>


</div>
</center>

</body>

{% endblock %}
